* {
  font-family: "Questrial", sans-serif;
  color: white;
}
.block-container {
  display: grid;
  grid-template-columns: 720px 720px;
  grid-gap: 1px;
  position: absolute;
  width: 100%;
}
.big-block {
  text-align: center;
  background: rgba(146, 156, 170, 0);
  padding: 250px;
  border-top: 1px solid white;
}
.big-block-hovered {
  text-align: center;
  background: rgba(146, 156, 170, 0.2);
  padding: 250px;
  border-top: 1px solid white;
}
.block-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.block {
  background-color: rgba(146, 156, 170, 0);
  border-left: 1px solid white;
  border-top: 1px solid white;
  font-size: 2em;
  position: relative;
}
.block span {
  position: absolute;
  width: 100%;
  text-align: center;
}
.block-hovered {
  background-color: rgba(146, 156, 170, 0.2);
  border-left: 1px solid white;
  border-top: 1px solid white;
  font-size: 2em;
  position: relative;
}
.block-hovered span {
  position: absolute;
  width: 100%;
  text-align: center;
}
#Contact,
#Placeholder {
  padding-top: 40px;
}
#Project,
#Technologies {
  bottom: 0;
  padding-bottom: 40px;
}
.info-box {
  top: 50%;
}
.background {
  position: absolute;
  width: 1440px;
  max-height: 687.781px;
}
.social {
  height: 25px;
  padding: 10px 5px;
}
