.block-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1px;
  height: 600px;
}
.big-block {
  text-align: center;
  background: blue;
}
.block-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1px;
}
.block {
  background-color: red;
}
